{% extends "layout.html" %}
{% load static %}

{% block content %}
    <div uk-scrollspy="cls:uk-animation-fade" class="uk-background-blend-overlay uk-background-secondary uk-flex uk-flex-center uk-flex-middle uk-background-secondary uk-height-viewport uk-light uk-background-cover
                uk-text-center" data-src="{% static 'img/banner.png' %}"
                uk-img>

<div class="" uk-scrollspy="cls:uk-animation-slide-bottom-medium">

    <form method="post" action="{% url 'register' %}">
    	<fieldset class="uk-fieldset">

    		<legend class="uk-heading-primary">Zarejestuj się</legend>

    		<hr class="uk-divider-small">
            <div class="uk-grid-collapse uk-flex-center uk-child-width-1-4" uk-grid>
                <div>
                    <a href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static 'img/google.jpg' %}"></a>
                </div>
                <div>
                    <img src="{% static 'img/facebook.jpg' %}">
                </div>
            </div>
            <hr class="uk-divider-small">

	        {% csrf_token %}
             <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user" ></span>
                        {{ form.username }}
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                        {{ form.password1 }}
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                        {{ form.password2 }}
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail"></span>
                        {{ form.email }}
                    </div>
                </div>

        {# welp, turns out that this thing does not like {{ form_errors }} build something#}
        {# around it or whatever, try something #}
            <p>{{ form_errors }}</p>

	        {% if form_errors %}

	            <script>
	            	UIkit.notification({message: "Coś poszło nie tak, sprawdź swoje dane", status: 'danger'});
	            </script>

	        {% endif %}


            {% if success %}
                <script>
                    UIkit.notification({message: "Rejestracja przebiegła pomyślnie", status: 'success'})
                </script>
            {% endif %}

             <div class="uk-margin uk-flex-middle uk-flex-center" uk-grid>
	        	<div>
	        		<button type=submit class="uk-button uk-button-secondary">Zarejestruj się</button>
	        	</div>
	    	</div>
	    	<a href="" class="uk-text-small uk-link-muted">Warunki korzystania z serwisu i inne pierdoły</a>
	    </fieldset>
	</form>

</div>
</div>

{% endblock %}