{% extends 'layout.html' %}

{% block content %}
    {% load static %}
    {% include 'navbar.html' %}

    <div class="uk-container uk-container-small uk-margin-small-top uk-margin-small-bottom">
    <article class="uk-article">

        <header class="uk-comment-header uk-grid-medium uk-flex-middle">

            <div class="uk-container uk-container-expand uk-position-relative uk-flex">
                <img class="uk-comment-avatar uk-margin-auto-left uk-margin-auto-right " src="{{ article.image.url }}"alt="">
            </div>

            <div class="uk-margin-small-top uk-margin-remove-bottom">
                <h2 class="uk-margin-remove">{{ article.title }}</h2>
                <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top uk-margin-small-left">
                    <li>{{ article.author_id }}</li>
                    <li>{{ article.reading_time }} minutes read</li>
                    <li>{{ article.pub_date|date:"j/n/Y" }}</li>
                </ul>
            </div>
        </header>
    </article>
    <hr style="margin-top: -10px">
    <h5>{{ article.description}}</h5>

    {% if user.is_authenticated %}
        <hr class="uk-divider-icon">
        <form method="POST" action="">
        {% csrf_token %}
        <fieldset class="uk-fieldset uk-text-center">
            {{ form.comment }}
            <br>
            <input class="uk-button hrc-button-primary uk-margin-top uk-width-1-5" style="background-color: white" type="submit" value="Comment">
            </fieldset>
        </form>

    {% endif %}

    <h3>Comments</h3>
    <ul class="uk-comment-list">
        <li>
            <article class="uk-comment uk-comment-primary">
                <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-comment-avatar" src="{% static 'img/furry.jpg' %}" width="80" height="80" alt="">
                    </div>

                    <div class="uk-width-expand">
                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Author</a></h4>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                            <li><a href="#">12 days ago</a></li>
                        </ul>
                    </div>

                </header>
                <div class="uk-comment-body">
                    <p>youa rebel I zee</p>
                </div>
            </article>
            <hr class="uk-divider-small">
        </li>
    </ul>

    </div>

    {% include 'footer.html' %}

{%  endblock %}