{% extends 'layout.html' %}

{% block content %}
    {% load static %}
    {% include 'navbar.html' %}
    <!-- this cool little pic -->
    <div uk-scrollspy="cls:uk-animation-fade" class=" uk-height-large uk-background-cover uk-width-1-1 uk-background uk-background-top-center uk-position-top" data-src="{% static 'img/banner.png' %}" uk-img></div>

    <!--POPULAR ARTICLE-->
    <div class="uk-section uk-section-small">
        <div class="uk-container uk-align-center" style="margin-top: 130px;">

            <div class="uk-card uk-card-default uk-box-shadow-large uk-grid-collapse uk-margin" uk-grid>

                <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-3-5@m">
                    <img src="{% static 'img/mountains.jpg' %}" alt="" uk-cover>
                    <canvas width="500" height="440"></canvas>
                </div>

                <div class="uk-width-2-5@m">
                    <div class="uk-card-body">

                        <div class="uk-container">

                            <h5 class="uk-margin-remove-bottom uk-margin-remove-top" style="color: #3138FF">Popular</h5>
                            <hr style="margin-top: 2px;">

                            <div style="margin-top: -15px;" class="uk-margin-small-bottom uk-flex uk-flex-center uk-margin-medium-bottom ">
                                <h6 style="font-size: .8em" class="uk-margin-remove-bottom uk-margin-remove-top uk-inline">Lorow</h6>
                                <h6 style="font-size: .8em" class="uk-margin-remove-bottom uk-margin-remove-top uk-margin-medium-left uk-inline">13 minutes read</h6>
                                <h6 style="font-size: .8em" class="uk-margin-remove-bottom uk-margin-remove-top uk-margin-medium-left uk-inline">14/10/2018</h6>
                            </div>

                            <h2 class="uk-card-title uk-margin-remove-top" style="font-size: 2em">Microsoft sold windows. and some longer text</h2>
                            <p>All linux masterrace folks are now drinking galons of vodka for Microsoft did the seemingly impossible thing.
                                They sold fucking windows boi. </p>

                            <div class="uk-container uk-container-expand uk-text-center">
                                <a href="/article/?id={{ article.article_id }}" class="uk-button hrc-button-primary uk-margin-medium-top">READ MORE</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--RECENT ARTICLES-->
    <div class="uk-section uk-section-big" uk-scrollspy="cls: uk-animation-slide-bottom; target: > div > .uk-card; delay: 500; repeat: false">
        <div class="uk-container uk-container-small uk-align-center">

            <h2>Recent</h2>
            <hr>

            {% for article in articles %}
            <div class="uk-card uk-card-hover uk-grid-collapse uk-margin uk-margin-medium-top" uk-grid>
                <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-3-5@m">
                    <img src="{{article.image.url }}" alt="" uk-cover>
                    <canvas width="600" height="480"></canvas>
                </div>
                <div class="uk-width-2-5@m">
                    <div class="uk-card-body uk-height-1-1">
                        <div class="uk-container uk-height-1-1 uk-position-relative">

                            <h5 class="uk-margin-remove-bottom uk-margin-remove-top" style="color: #3138FF">Popular</h5>
                            <hr style="margin-top: 2px;">

                            <div style="margin-top: -15px;" class="uk-margin-small-bottom uk-flex uk-flex-center uk-margin-medium-bottom">
                                <h6 style="font-size: .8em" class="uk-margin-remove-bottom uk-margin-remove-top uk-inline">{{ article.author_id }}</h6>
                                <h6 style="font-size: .8em" class="uk-margin-remove-bottom uk-margin-remove-top uk-margin-medium-left uk-inline">{{ article.reading_time }} minutes read</h6>
                                <h6 style="font-size: .8em" class="uk-margin-remove-bottom uk-margin-remove-top uk-margin-medium-left uk-inline">{{ article.pub_date|date:"j/n/Y" }}</h6>
                            </div>

                            <h2 class="uk-card-title uk-margin-remove-top" style="font-size: 1.4em">{{ article.title }}</h2>
                            <p>{{ article.description|truncatechars:200}}</p>

                            <div class="uk-container uk-container-expand uk-text-center uk-position-bottom">
                                <a href="/article/?id={{ article.article_id }}" class="uk-button hrc-button-primary">READ MORE</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <hr class="uk-margin-medium-top">
            {% endfor %}
        <!--PAGINATION-->

            <ul class="uk-pagination uk-flex-center uk-margin-large-top" uk-margin>
                {% if articles.has_previous %}
                <li><a href="?page={{ articles.previous_page_number }}" class="hrc-pagination-active"><span>PREV</span></a></li>
                <li><a href="?page={{ articles.previous_page_number }}" class="">{{ articles.previous_page_number }}</a></li>
                {% endif %}

                <li><a href="#" class="uk-active hrc-pagination-active">{{ articles.number }}</a></li>

                {% if articles.has_next%}
                <li><a href="?page={{ articles.next_page_number }}" class="">{{ articles.next_page_number }}</a></li>
                <li><a href="?page={{ articles.next_page_number }}" class="hrc-pagination-active"><span>NEXT</span></a></li>
                {% endif %}
            </ul>
        </div>

    </div>
    {% include 'footer.html' %}


{% endblock %}