.landingPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vh;

  position: absolute;
  width: 100%;

  * {
    color: white;
  }

  h1{
    font-size: calc(6em + 2vw);
  }

  h2{
    font-size: calc(.5em + 1vw);
  }
}

.landing-title{
  text-align: center;
}

.text-field{
  text-align: center;
  margin-top: 20px;
  width: 50%;
}

.button-section{

  padding-top: 100px;
}

@media (max-width: 1800px){
  .landingPanel {
    h1{
      font-size: calc(3em + 2vw);
    }
  
    h2{
      font-size: calc(1em + 1vw);
    }
  }
}
