.hr-default-button{
    box-shadow: -12px 12px 0px -5px rgba(0,0,143,0.6); //rgba(52, 124, 255, 0.60);
    background-color: #0007CF; // #347cff;
    color: white;
    padding: 0 12px;
    transition: 0.40s box-shadow, 0.40s transform;
    font-weight: 700;

    &:hover{
        box-shadow: 0px 0px 0px 0px rgba(0,0,143,0.6);
        transform: translate(-12px, 12px);
    }
}

.hrc-button-fill {
    border: 2px solid #0007CF;
    color: white;
    transition: 0.25s all;

    &:hover{
        box-shadow: 0 -42px 0 0 #0007CF inset;
        color: #fff;
    }
}

@media (min-width: 1360px){
    .hrc-margin-left-nonmobile{
        margin-left: 8vw;
    }
}


.page {
    position: absolute;
    left: 15px;
    right: 15px;
  }