{% extends 'layout.html' %}

{% block content %}
    {% load static %}
    {% include 'navbar.html' %}

    <div class="uk-container uk-container-small uk-margin-small-top uk-margin-small-bottom ">
        <form class="uk-text-center" method="post" action="{% url 'article_new' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="js-upload uk-placeholder uk-text-center">
                <span uk-icon="icon: cloud-upload"></span>
                <span class="uk-text-middle">Select an image</span>
                <div uk-form-custom>
                    {{ form.image }}
                    <span class="uk-link">Open explorer</span>
                </div>
                <div id="imagePreview" class="uk-height-medium uk-margin-top uk-background-cover"></div>
            </div>

            {{ form.title }}
            <hr class="uk-divider-icon">
            {{ form.description }}
            <hr class="uk-divider-small uk-text-center">
            {{ form.reading_time }}
            {{ form.tags }}
            {{ form.author_id }}
            <input type="submit" class="uk-button-large uk-width-1-4 hrc-button-primary uk-margin-medium-top  uk-margin-medium-bottom" style="background-color: white" value="SHITPOST">
        </form>
    </div>



    {% include 'footer.html' %}
{% endblock %}