.blog-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.blog__section__title{
    color: white;
    font-size: calc(1.2em + 2vw);
}

.blog__section__title--decoration{
    background-color: white;
    width: 100px;
    height: 7px;
    margin-top: 0;
}

.blog__article__container{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

.blog__article{
    width: 30vh;
    height: 50vh;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    transition: all .5s;

    transform-origin: bottom;

    &:hover{
        transform: scale3d(1.05, 1.05, 1.05);
    }
}

.blog__article__flex{
    position: absolute;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
    width: 100%;
    height: 100%;
}

.blog__article__title{
    color: white;
    z-index: 1;
    font-weight: 600;
    margin-bottom: 0;
}

.blog__article__description{
    color: white;
    margin: 8px;
    z-index: 1;
}

.blog__article__decoration{
    color: white;
    margin: 0 auto;
    z-index: 1;

    margin-bottom: 20%;
    margin-top: 20px;
    width: 62px;
    height: 3px;
    background-color: white;
}

.blog__article__background{
    position: absolute;
    z-index: 0;
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
}

@media (max-width: 960px){
    .blog__article__container{
        flex-direction: column;
        align-items: center;
    }

    .blog__article{
        margin-bottom: 20px;

        width: 60vw;
    }
}