<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<title>Horror in Code</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" />
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/imagePreview.js' %}"></script>
</head>
<body>
    {% block content %}

    {% endblock %}

</body>
</html>