.contact-section{
    display: grid;
    grid-template-columns: 0px 1.5fr .5fr 60px repeat(7, 200px)  1fr;
    grid-template-rows: 5vh repeat(7, 8vh);
}

.contact--decorative_stroke{
    grid-column: 4;
    grid-row: 3;
    border: 2px solid white;
}

.contact--title{
    color: white;
    grid-column: 4 /8;
    grid-row: 3;

    font-size: 60px;
    margin-top: 5px;
}

.contact--additional_info{
    grid-column: 4 / 7;
    grid-row: 4/ 6;
    padding-top: 10px;
    color: white;

    font-size: 20px;
}

.contact--additional_info--email{
    grid-column: 4 / 7;
    grid-row: 5;
    padding-top: 10px;
    color: white;

    font-size: 21px;

    a{
        color: white;
    }
}

.contact--additional_info--subsection{
    grid-column: 4 / 7;
    grid-row: 6;
    margin-top: -5px;
    color: white;

    font-size: 20px;
}

.contact--email_form{
    grid-column: 8 / 10;
    grid-row: 3 / 8;

    text-align: center;    
    *{
        color: white;
        transition: all .2s ease-in-out;
    }

    input:nth-child(1){
        margin-top: 0;
    }

    input{
        width: 100%;
        border: 1px solid rgba(0, 119, 255, 0.46);
        background-color: transparent;
        height: 1.2vw;
        margin-top: 20px;

        padding: 5px 5px;
    }

    input::placeholder, textarea::placeholder{
        font-size: 15px;
        opacity: 1;
    }

    input:focus, textarea:focus{
        padding: 7px 7px;
    }

    textarea{
        width: 100%;
        border: 1px solid rgba(0, 119, 255, 0.46);
        background-color: transparent;
        margin-top: 20px;
        resize: none;
        padding: 5px 5px;
    }

    input[type=submit]{
        width: 9rem;
        height: 3rem;

        background-color: #0055FF;
        border: none;
        border-radius: 200px;

        margin-top: 30px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media(max-width: 1520px){
    .contact-section{
        display: grid;
        grid-template-columns: 0px repeat(7, 1fr)  0px;
        grid-template-rows: 0vh repeat(14, 8vh);
    }
    
    .contact--email_form{
        grid-column: 4 / 7;
        grid-row: 8 / 15;
    }
}

@media(max-width: 960px){
    .contact--email_form{
        grid-column: 3/ 8;
    }

    .contact--decorative_stroke{
        grid-column: 3;
        grid-row: 3;
    }
    
    .contact--title{
        grid-column: 3 /8;
        grid-row: 3;
    }
    
    .contact--additional_info{
        grid-column: 3 / 7;
        grid-row: 5/ 6;
    }
    
    .contact--additional_info--email{
        grid-column: 3 / 7;
        grid-row: 6;
    }
    
    .contact--additional_info--subsection{
        grid-column: 3 / 7;
        grid-row: 7;
    }
    
}