body
{
	background-color: white;
}

.hrc-button-default{
	border: 2px solid #AAAAAC;
	border-radius: 25px;
}

.hrc-button-primary{
	border: 2px solid #0080FF;
	border-radius: 25px;
	color: #0080FF;
}

.hrc-pagination-active{
	color: #373EFF;
}