.about-section{
    display: grid;
    grid-template-columns: 0px 2fr 1fr 1fr 2fr 1fr 1fr 2fr 0px;
    grid-template-rows: 80px repeat(7, minmax(50px, 100px)) 100px;

    grid-auto-flow: column;
}

.about--textBackground{

    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 8%, rgba(0,0,254,1) 100%);
    width: 20vh;
    height: 20vh;

    border-radius: 50%;

    margin: 0 auto;

    grid-column: 5;
    grid-row: 3;

    text-align: center;
}

.about-titleText{
    color: rgba(255, 255, 255, 0.8);
    grid-column: 5;
    grid-row: 3/5;

    font-size: calc(1em + 1.5vw);

    margin: auto auto;
}

.about-button{
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    text-shadow: none;

    font-weight: bold;

    font-size: calc(1em + .8vw);

    margin: auto 0;

    transition: .2s all ease-in-out;

    &:hover{
        text-decoration: none;
        color: transparent;
    }
}

.about-button--active{
    -webkit-text-stroke: 0;
    text-stroke: 0;

    color: #1037FF;
    font-size: calc(1em + 1vw);

    &:hover{
        text-decoration: none;
        color: #1037FF;
    }
}

.about-button--aboutMe{
    grid-column: 3;
    grid-row: 5;
}

.about-button--skills{
    grid-column: 3;
    grid-row: 6;
}

.about-button--passions{
    grid-column: 3;
    grid-row: 7;
}

.about-button--education{
    grid-column: 3;
    grid-row: 8;
}

.about-description{
    grid-column: 5;
    margin-top: 6vh;
    grid-row: 4 / 9;

    color: white;
    font-size: 1.5rem;
    text-align: center;
}